body {
    margin: 0; 
    background: linear-gradient(to top, #FA819E, #FFAFC2, #FFAFC2);
    align-items: center; 
    color: #000000; 
    font-family: Arial, sans-serif; 

    
.hover-link {
    color: #E04E91; 
    text-decoration: none; 
    transition: color 0.3s, text-shadow 0.3s; 
}
h1, h2, h3, p {
  text-align: center;
}
  
 .tribute {
  width: 90%;
  background-color: #F4D3DE;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}
  hr{
    color: black;
  }
  .thick-line {
    border: none; 
    height: 3px; 
    background-color: #000000; 
    margin: 40px 0; 
}
  .snl {
    display: flex;

  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  }
  
  .car{
    display: flex;
  
 
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  }
 
  .resized-image{
    width: 700px; 
    height: auto;
    display: flex;
 
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
  }
  .year {
    font-weight: bold;
    color: #000000; 
    text-align: left;
    line-height: 1.6;
    
    
}
  ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
 li {
    margin-bottom: 20px; 
   
}
